@use "_base.scss" as *;

.board{
        background-color: $color-board
}
.score {
        font-family: $font-score ;  
        font-size: larger;   
        text-align: center;
        color: $color-white; 
        font-size: 75px;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        position: absolute; 
        top : 15px;

        &--player1{     
                left: 5px; 
        }

        &--player2{
                right: 5px;
        }

}
.paddle{
        position: absolute; 
        height: 80px;        
        width: 20px;  
        background-color: $color-primary-light;
        &--player1{
                left: 20px;
                top: height/2;
        }
        &--player2{
                right: 20px;
        }
}
.ball{
        position: absolute; 
        height: 20px;        
        width: 20px;  
        border-radius: 50%;
        background-color: $color-ball;
} 
