@use "_base.scss" as *;

.board{
        
        background-color: $color-board
        //background-color: rgb(55, 52, 52);       
}
.score {
        font-family: $font-score ;  
        font-size: larger;   
        text-align: center;
        color: $color-white; 
        font-size: 75px;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        position: absolute; 
        top : 15px;

        &--player1{     
                left: 5px; 
        }

        &--player2{
                right: 5px;
        }

}
.paddle{
        position: absolute; 
        height: 80px;        
        width: 20px;  
        background-color: $color-primary;
        &--player1{
                left: 20px;
        }
        &--player2{
                right: 20px;
        }
}
.ball{
        height: 20px;        
        width: 20px;  
        border-radius: 50%;
        background-color: $color-ball;
} 




// button controls 
//         buttons for 
//                 play (start/ resume)
//                 pause
//                 restart
//         menu button

// rest of the below will come inside the menu button (for mobile  or for all?)

// sound & mute
// game instruction




// speed increase
// level ? with the misses decreasing / increasing to complete the level or end 

// level 1 : relaxed level keep playing witout any end (with scores?) min score 3 to go to unlock next level
// level 2 : min score 5 to go to next level speed increases
// level 3 : speed increases
// ball colour changes with high score , neon colour/ rainbow/ golden ball something special




